.nosotros-welcome-container {
    background-image: url("../../../image/NosotrosWelcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.375);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h1 {
        position: relative;
        color: #fff;
        margin-top: 300px;
        font-size: 80px;
        margin-bottom: 100px;

        @media(max-width: 900px) {
            font-size: 50px;
            margin-bottom: 70px;
        }

        @media(max-width: 400px) {
            font-size: 40px;
            margin-bottom: 50px;
        }
    }

    i {
        position: relative;
        color: #fff;
        font-size: 50px;

        @media(max-width: 900px) {
            font-size: 40px;
        }

        @media(max-width: 400px) {
            font-size: 30px;
        }
    }
}