.tecnologia-wlc-container {
    background-image: url("../../../image/tecnologia-wlc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    @media(max-height: 500px) {
        height: 500px;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.375);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h1 {
        position: relative;
        color: #fff;
        font-size: 70px;

        @media(max-width: 900px) {
            font-size: 40px;
            margin-bottom: 70px;
        }

        @media(max-width: 400px) {
            font-size: 30px;
            margin-bottom: 50px;
        }
    }

    i {
        color: #fff;
        font-size: 50px;
        position: relative;

        @media(max-width: 900px) {
            font-size: 40px;
        }

        @media(max-width: 400px) {
            font-size: 30px;
        }
    }
}