.tratamientostexto-container {

    .tratamientos-cuerpo {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        h2 {
            @media(max-width: 600px) {
                font-size: 16px;
            }
        }

        .line {
            @media(max-width: 300px) {
                display: none;
            }
        }
    }


    .fila {
        display: flex;
        flex-direction: column;

        .galeria {
            display: flex;

            @media(max-width: 900px) {
                flex-direction: column;

            }

            .texto {
                background-color: rgb(244, 244, 244);
                padding: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 50%;

                @media(max-width: 900px) {
                    padding: 25px 10px;
                }

                label {
                    color: rgb(174, 174, 174);
                    font-size: 12px;
                }

                h3 {
                    color: $Orange;
                }

                h4 {
                    color: rgb(71, 171, 104)
                }

                ul {

                    li {
                        position: relative;
                        list-style: none;
                    }
                }

            }

            .imagen {
                height: 670px;
                flex-basis: 50%;

                .imagen-zoom {
                    overflow: hidden;
                    height: 100%;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

    }

}