.tratamientoswlc-container {
    background-image: url("../../../image/TratamientosWLC.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    @media(min-width: 800px) {
        text-align: start;
    }

    @media(max-width: 200px) {
        width: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.375);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    div {
        position: relative;
        margin-top: 400px;
        text-align: center;

        h1 {
            font-weight: 600;
            font-size: 70px;
            color: #fff;

            @media(max-width: 900px) {
                font-size: 40px;
            }

            @media(max-width: 400px) {
                font-size: 30px;
            }

        }
    }
}